@font-face {
    font-family: 'NanumGothic-Regular';
    src: local(NanumGothic-Regular);
}

.ListPage-wrapper {
    font-family: 'NanumGothic-Regular';
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 600px;
    padding-right: 350px;
}

.ListPage-title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid;
    margin-bottom: 40px;
}

.ListPage-container-category {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    display: flex;
}

.ListPage-container-content {
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px groove;
    align-items: center;
}

.ListPage-container-category-name {
    width: 50%;
    text-align: center;
}

.ListPage-container-category-price {
    width: 50%;
    text-align: center;
}

.ListPage-container-content-img {
    width: 10%;
    padding-left: 5px;
}

.ListPage-container-content-name {
    width: 37%;
    font-weight: 600;
    font-size: 15px;
    padding-left: 20px;
}

.ListPage-container-content-price {
    width: 50%;
    text-align: center;
}