@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light');
}

.Header-wrapper {
    width: 1300px;
    padding-left: 250px;
    padding-top: 177px;
    font-size: 14px;
    font-family: 'OpenSans-Light';
}

.Header-category {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Header-category>li {
    list-style: none;
    padding-left: 20px;
}